.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vw;
  background: linear-gradient(45deg,  #2BC0E4, #EAECC6 );
  overflow: hidden;
}
.App-header {
  background-color: rgba(54, 54, 54, 0);
  height: 65px;
  padding: 20px;
  color: #feffff;
}
.App-title {
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #61616194;
}
.App-intro {
  font-size: large;
}
.content{
  background: #feffff;
  height: 75vh;
  width: 80vw;
  border-radius: 13px;
  box-shadow: 2px 2px 2px 1px #c6c6c67d;
}

